/* ===== CABEÇALHO ===== */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #7a6a53;
    width: 100%;
    color: aliceblue;
    padding: 10px 20px;
}

/* ===== LOGO ===== */

#logo {
    height: 100px;
    width: 100px;
    margin: 10;
}

h1 {
    padding-right: 20px;
}

/* ===== BARRA DE PESQUISA ===== */
.logo-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 1s 0px;
    height: 60px;
    min-width: 400px;
    width: 100%;
}

/* ===== FAVORITOS E CARRINHO ===== */
.icons {
    display: flex;
    align-items: center;
    gap: 20px; 
}

#favorito, #carrinho {
    height: 50px;
    width: 50px;
    margin: 20px;
}

/* ===== OPÇÕES DE ENTRADA ===== */

#divisorVertical {
    height: 50px;
    border-left: 2px solid;
    padding-right: 5px;
    padding-left: 30px;
}

.entrada {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.entrada>a {
    color: aliceblue;
    text-decoration: none;
}