#section2 {
    width: 100%;
    overflow: hidden; /* esconde qualquer conteúdo que ultrapasse */
    margin: 0;
    padding: 0;
}

#banner {
    width: 100%;
    height: 500px;
    object-fit: cover; /* cobre toda a área mantendo proporção */
    object-position: center; /* centraliza a imagem */
}