/* ===== PRODUTOS ===== */
.product-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}

.card-img-top img {
  width: 100%;
  height: auto;
  max-height: 140px;
  object-fit: contain;
}

.card-body {
  padding: 1rem; 
}

.card-title {
  font-size: 0.9rem; 
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.8rem; 
}

.product-card:hover {
  box-shadow: 0 5px 15px rgba(236, 221, 203, 0.7) !important;
}

button.btn.btn-primary.w-100 {
  background-color: rgb(236, 202, 156) !important;
  border-color: rgb(177, 159, 137) !important;
  color: #333 !important;
  padding: 0.375rem 0.75rem; 
  font-size: 0.8rem; 
}

@media (max-width: 576px) {

    .product-card {
    transform: scale(0.92);
  }

  .card-img-top img {
    max-height: 110px;
  }

  .card-body {
    padding: 0.75rem;
  }

  .card-title {
    font-size: 0.85rem;
  }

  button.btn {
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem;
  }

}
