/* ===== BANNER ===== */

#section1 {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

#banner {
    width: 100%;
    height: 60vh;
    object-fit: cover; 
    object-position: center; 
}

@media (max-width: 768px) {
    #banner {
        height: 40vh;
    }
}
